# Dependencies
node_modules/
__pycache__/
*.pyc
.venv/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo
#textemplate
init.txt
# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
.next/
out/

# Environment
.env
.env.local
.env.*.local
